@import "./../abstracts/functions";
@import "./../abstracts/variables";

.button,
button {
  padding: 1rem 2rem;
  color: color("white");
  background-color: color("accent");
  border-radius: 4px;
  border: 0px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 7px;
  transition: 0.4s;

  &:hover,
  :focus {
    background-color: darken(color("accent"), 10%);
    cursor: pointer;
  }
}
