$columns: 12;

$padding: 1rem;

$margin: 1rem;

$desktop: 1200px;

$tablet: 554px;

$colors: (
  "primary": #1c272d,
  "secondary": #dee5db,
  "accent": #5b8da3,
  "alt-accent": #c92732,
  "white": #fff,
);
